/* Set font family for the entire document and remove default padding */
body { 
    font-family: Arial, sans-serif; 
    padding: 0px; 
}

/* Styles for question and answer elements */
.question, .answer { 
    margin: 20px; 
    font-size: 20px; 
}

/* Styles for the reveal button */
#revealBtn { 
    margin: 20px; 
    font-size: 16px; 
    cursor: pointer; 
}

/* Styles for form rows */
.form-row {
    width: 400px;
    display: flex;
    margin-bottom: 10px; 
}
.form-row label {
    flex-basis: 50%; 
    padding-right: 10px; 
    text-align: right;
}
.form-row select {
    flex-basis: 50%; 
}

/* Styles for paragraphs */
p {
    margin: 20px; 
}

/* Styles for the header section */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.logo img {
    height: 50px; 
    width: 60px; 
}
.user-info {
    display: flex;
    align-items: center;
}